
# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/

# SwiftPM
.build/
Packages/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# Secrets
*.xcconfig
